<a href="https://colab.research.google.com/github/hameedk1/DSML_Task1/blob/main/DSML_Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write Python code that prints your name, student number and email address.  
An example runs of the program:

In [1]:
name = "Your Name"
student_number = "12345"
email_address = "yourname@example.com"

print("Name:", name)
print("Student Number:", student_number)
print("Email Address:", email_address)

Name: Your Name
Student Number: 12345
Email Address: yourname@example.com

Write Python code that prints your name, student number and email address using escape sequences.

In [2]:
print("Name: John Doe\nStudent Number: 12345\nEmail Address: johndoe@example.com")

Name: John Doe
Student Number: 12345
Email Address: johndoe@example.com

Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7.  An example run of the program:

In [3]:
# Define the two numbers
num1 = 14
num2 = 7

# Addition
addition = num1 + num2

# Subtraction
subtraction = num1 - num2

# Multiplication
multiplication = num1 * num2

# Division (handling division by zero)
division = num1 / num2 if num2 != 0 else "Cannot divide by zero"

# Print the results
print(f"Addition: {num1} + {num2} = {addition}")
print(f"Subtraction: {num1} - {num2} = {subtraction}")
print(f"Multiplication: {num1} * {num2} = {multiplication}")
print(f"Division: {num1} / {num2} = {division}")

Addition: 14 + 7 = 21
Subtraction: 14 - 7 = 7
Multiplication: 14 * 7 = 98
Division: 14 / 7 = 2.0

Write Python code that displays the numbers from 1 to 5 as steps.
An example runs of the program:

In [4]:
for i in range(1, 6):
    print(f"Step {i}: {i}")

Step 1: 1
Step 2: 2
Step 3: 3
Step 4: 4
Step 5: 5

Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen:

In [5]:
print('"Python is a great programming language"\nIt is versatile and powerful.')

"Python is a great programming language"
It is versatile and powerful.

Practice and check the output
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

In [6]:
print("python is an \"awesome\" language.")

python is an "awesome" language.

In [7]:
print("python\n\t2023")

python
	2023

In [8]:
print('I\'m from Entri.\b')

I'm from Entri.

In [9]:
print("\65")

5

In [10]:
print("\x65")

e

In [11]:
print("Entri", "2023", sep="\n")

Entri
2023

In [12]:
print("Entri", "2023", sep="\b")

Entri2023

In [14]:
print("Entri", "2023", sep="*", end="\b\b\b\b")

Entri*2023

Define the variables below. Print the types of each variable. What is the sum of your variables?

In [15]:
# Define the variables
num1 = 10
num2 = 5.5
text = "Hello"
boolean = True

# Print the types of each variable
print("Type of num1:", type(num1))
print("Type of num2:", type(num2))
print("Type of text:", type(text))
print("Type of boolean:", type(boolean))

# Calculate the sum of num1 and num2 (type conversion to float for addition)
sum_result = float(num1) + num2

# Print the sum and its datatype
print("Sum of num1 and num2:", sum_result)
print("Datatype of the sum:", type(sum_result))

Type of num1: <class 'int'>
Type of num2: <class 'float'>
Type of text: <class 'str'>
Type of boolean: <class 'bool'>
Sum of num1 and num2: 15.5
Datatype of the sum: <class 'float'>

calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values
(hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

In [16]:
# Define variables for units of time
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60

# Calculate the total minutes in a year
total_minutes_in_year = days_in_year * hours_in_day * minutes_in_hour

# Print a statement describing what the code does
print("This code calculates the total number of minutes in a year.")

# Print the values of each variable and the total minutes in a year
print("Number of days in a year:", days_in_year)
print("Hours in a day:", hours_in_day)
print("Minutes in an hour:", minutes_in_hour)
print("Total minutes in a year:", total_minutes_in_year)

This code calculates the total number of minutes in a year.
Number of days in a year: 365
Hours in a day: 24
Minutes in an hour: 60
Total minutes in a year: 525600

Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting.

In [17]:
# Ask the user to enter their name
name = input("Please enter your name: ")

# Print a greeting with the user's name
print(f"Hello, {name}! Welcome.")

Please enter your name: hameed
Hello, hameed! Welcome.

Name your file: PoundsToDollars.py
Write a program that asks the user to enter an amount in pounds (£) and the program calculates and converts an amount in dollar ($)

In [18]:
# Ask the user to enter an amount in pounds
pounds = float(input("Enter an amount in pounds (£): "))

# Conversion rate from pounds to dollars
conversion_rate = 1.41  # 1 pound = 1.41 dollars (as an example)

# Calculate the amount in dollars
dollars = pounds * conversion_rate

# Print the converted amount in dollars
print(f"{pounds} pounds is equal to {dollars} dollars.")

Enter an amount in pounds (£): 45
45.0 pounds is equal to 63.449999999999996 dollars.